<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">EMPLOYEES RECORDS</span>

        </div>
    </nav>
</head>

<body>

    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th> Name</th>
                <th> Address </th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for h in hotels %}
            <tr>
                <td> <img style="border-radius: 50%;" width="30" height="30" src="{{h.profile_pic.url}} "
                        alt="Hotel's Image">
                </td>

                <td>{{ h.hname }}</td>
                <td>{{h.address}} </td>
                <td>{{h.created_at}} </td>
                <td>{{h.updated_at}} </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

</body>

</html>