{% extends 'base.html' %}
{% block title %}Contact Us | {% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="static/first.jpg" class="d-block w-100 mx-0" alt="...">
    <h1 class="text-center"> Contact Us</h1>
</div>
<div class="container fluid mb-3">
    
    <form method="post" action="/contact">
      {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name"  name="name" placeholder="Enter your Name">
            
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter your Email Address">
            
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone No.">
            
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Tell me about why you want to contact me for...</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</div>
{% endblock body %}