{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body
        {
            height:650px;
           background-image:url('https://images.unsplash.com/photo-1555421689-491a97ff2040?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
           background-repeat:no-repeat;
           background-size:100% 100%;
           font-family: 'Ubuntu Condensed', sans-serif;
           font-size: 200%;

        }
        .payform{
                    background-color:rgba(0,0,0,0.3);
                    height:450px;
                }
         .white
         {
            color:white;
            }
    </style>
</head>
<body>
<h1 style="text-align:center;font-family:sans-seriff">Payment Gateway</h1>
<form action="book/" method="POST">
    {%csrf_token%}
    <div class="row">
    <div class="col-lg-6" style="background-color:rgba(256,256,256,0.4);height:450px;">
        <h3 style="text-align:center;"> <b>Check Details</b> </h3>
        <div class="col-lg-6">

    <b>Train no   :</b> <br/><input style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black"  type="text" value="{{tno}}" readonly name="tno"><br/><br/>
     <b>Train name :</b> <br/><input style="padding:5px;width: 350px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{tname}}" readonly name="tname"><br/><br/>
     <b> From       :</b><br/><input style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{src}}" readonly name="src"><br/><br/>
    <b>To         :</b>  <br/><input  style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{des}}" readonly name="des"><br/><br/>

    </div>
    <div class="col-lg-6">
      <b>Class      :</b> <br/><input style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{cls}}" readonly name="cls"><br/><br/>
      <b>No of Seats:</b> <br/><input style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{nos}}" readonly name="nos"><br/><br/>
      <b>Date       :</b> <br/><input style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{dt}}" readonly name="date"><br/><br/>
      <b>Total Price</b> :<br/><input style="padding:5px;background: rgb(227, 236, 236); border-radius:3px;border:2px solid black" type="text" value="{{price}}" readonly name="price"><br/>
    </div>

    </div>
    <div class="col-lg-6 payform">
        <h3 style="text-align:center"> <b>Payment Method</b> </h3>
    <select id="selectMe" name="select">
      <option value="option1">Credit or Debit card</option>
      <option value="option2">Paytm</option>
      <option value="option2">Razorpay</option>

    </select>
       <div id="option1" class="group">
           <span class="white">Card Number:</span><br/>
           <input type="text" name="crd"><br/><br>
           <span class="white">Name on Card:</span><br/>
           <input type="text" name="nam"><br/><br/>
               <span class="white">CVV Number:</span><br/>
           <input type="password" maxlength="3" name="cvv"><br/><br/>
               <span class="white">Expiry:</span><br/>
           <input type="text" placeholder="MM/YY" name="exp"><br/><br/>



       </div>
       <div id="option2" class="group">
           <h3><span class="white">Click to proceed to Paytm Portal for payment</span></h3>
       </div>
    <input type="submit" value="Confirm Book" >
    </div>
        </div>
</form>
 <script>
    $(document).ready(function () {
  $('.group').hide();
  $('#option1').show();
  $('#selectMe').change(function () {
    $('.group').hide();
    $('#'+$(this).val()).show();
  })
});
</script>
</body>
</html>