<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{upload}}
    {% comment %} {% for u in upload %}
      
    <span >Train No.: <b id="1">{{u.Train_No}}</b> </span><br><br>
    <span >Train Source: <b id="2">{{u.Train_Source}}</b> </span><br><br>
    <span id="3">Train Type: <b id="3">{{u.Train_Type}}</b> </span><br><br>
    
    <span id="4">Train Destination: <b id="4">{{u.Train_Destination}}</b> </span><br><br>
    <span id="5">Train Name: <b id="5">{{u.Train_Name}}</b>  </span><br><br>
    
    {% endfor %} {% endcomment %}
</body>
</html>